.register {
    background: #3F51B5;
    height: 100vh;
    display: grid;
    place-items: center;

}

.card {
    width: 480px;
    height: 514px;
    background: #FFFFFF;
    border-radius: 20px;
    display: grid;
    place-items: center;
}

.text-field {
    background: #FFFFFF;
    border: 1px solid #C6C4CD;
    box-sizing: border-box;
    border-radius: 6px;
}

.register-container {
    margin: 80px auto;

}

h1 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #1A237E;
}

p {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: -0.011em;
}