.register {
  background: #3f51b5;
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 0 !important;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px;
}
.register-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 80px 40px 80px;
  background-color: white;
  border-radius: 20px;
  width: 480px;
}

.text-field {
  background: #ffffff;
  border: 1px solid #c6c4cd;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 8px 8px 8px 12px;
  width: 320px;
}

.register-container {
  margin: 80px auto;
}

h1 {
  /* Heading/L-Bold */

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 122% */

  /* Test Color/900 */

  color: #1a237e;
}
h2 {
  /* Heading/L */

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 122% */

  letter-spacing: -0.022em;

  color: #1a237e;
}
h3 {
  /* Heading/M */

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height, or 129% */

  letter-spacing: -0.021em;

  color: #1a237e;
}
#heading-s {
  /* Heading/S */

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  letter-spacing: -0.017em;

  color: #1a237e;
}
#text-m-bold {
  /* Text M/Bold */

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: -0.006em;

  color: #1a237e;
}
#text-m-regular {
  /* Text M/Regular */

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: -0.006em;
  margin-left: 8px;

  color: #2c2c31;
}
#white-bg {
  background-color: white;
  width: 100%;
  margin: 0%;
}
#register-border {
  border-radius: 20px !important;
}
.margin-40 {
  margin-bottom: 40px;
}
.width-1000 {
  width: 1000px;
}
.border-20 {
  border-radius: 20px;
}
.margin-20 {
  margin-bottom: 20px;
}
.padding-40 {
  padding: 40px;
}
